a{
    font-size: 24px;
    margin-right: 20px;
    color: red;
}
a:link{
    color:blue
}

a:visited{
    color: green;
}

a:hover{
    background-color: orange;
}

a:active{
    background-color: red;
}

a:focus{
    background-color: green;
}